<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo-medium.png" />
    <link rel="stylesheet" href="../style/wyniki.css">
    <title>404</title>
    <style>
        h1, h2, h3 {
            text-align: center;
            font-size: 50px;
            color: #ff0000;
            border: none;
        }
        
        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <ul>
        <li><a href="/"> POWRÓT NA STRONĘ GŁÓWNĄ</a></li>
    </ul>
    <h1>ERROR 404</h1>
    <h2>XD</h2>
    <h3><%= err %></h3>
</body>
</html>