<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/wyniki.css" />
  <title>Wynik</title>
</head>
<body>
  <ul>
    <li><a href="/"> POWRÓT NA STRONĘ GŁÓWNĄ</a></li>
  </ul>
  
  <div class="wyniki">
    <h2>TWÓJ WYNIK</h2>
    <h3><%= quiz.wynik %></h3>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="../scripts/wyniki.js"></script>
</body>
</html>